<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
</head>
</head>
<body>
    <h2>퀴즈 맞추기</h2>
    <div id="app">
        <!-- 1) v-for 문 실행해서 자식컴포넌트 데이터 전달 -->
        <div v-for="item in dataArray" v-bind:key="item.title">
            <my-quiz v-bind:object="item"></my-quiz>
        </div>

        <p><input type="file" v-on:change="loadData"></p>
    </div>

    <script>
        var MyQuiz = {
                props: ["object"],
                // 5. 아래 템플릿에 quiz.json의 데이터 추가 
                // 출력 형태 : 문제 {{object.no}}  {{object.question}} (배점 : {{object.point}} 추가
                //             정답 : 라디오버튼 2개 추가하고 object.user_answer 변수에 사용자 답 추가
                template:`
                        <div style="width:600px;backgroundColor:#ffddaa;">
                            <p style="backgroundColor:#ffa95e;">
                            문제 {{object.no}}.  {{object.question}} (배점 : {{object.point}})
                            </p>
                            정답 :
                            <input type="radio" v-model="object.user_answer" value="true"> O &nbsp;
                            <input type="radio" v-model="object.user_answer" value="false"> X
                        </div>`
            }

        new Vue({
            el: "#app",
            data() {
                return {
                    // quiz.json 파일을 읽어서 저장할 변수
                    dataArray: [],
                    // 버튼 보이기 위한 변수
                    show: false,
                    // 정답 보이기 위한 변수
                    showResult: false,
                    // 총점 계산을 위한 변수
                    score: 0
                }
            },
            components: {
                "my-quiz" : MyQuiz
            },
            methods: {
                loadData(e) {
                    // e.target.files[0] : 첫번째 선택한 파일(json)
                    // file = json 파일
                    file = e.target.files[0];

                    // file 을 선택했으면 null 아님
                    if(file) {
                        // FileReader 객체 : 자바스크립트 지원 파일 객체 
                        let reader = new FileReader();

                        // .readAsText(파일, charset) : 텍스트로 파일을 읽는 함수
                        // 매개변수 charset 생략가능 : 기본 UTF-8
                        reader.readAsText(file);

                        // 함수 정의 : 함수 선언문, 함수 표현식
                        // .onload() : 읽기 동작이 성공적으로 완료되었을때 이벤트
                        // 참고) .onloadend() : 성공유무와 상관없이 다 읽었을때 실행
                        reader.onload = (e) => {
                            // e.target.result : 선택한 파일 내용
                            // JSON.parse() 문자열 -> 객체
                            json = JSON.parse(e.target.result);

                            // 뷰의 데이터에(바인딩) 넣음
                            this.dataArray = json;
                        }
                    }
                } 
            },

        })
    </script>
</body>
</html>