ul {
  overflow: auto;
}

li {
  list-style: none;
  float: left;
  padding: 15px;
}

li:first-child{
    border-radius: 10px 0 0 10px;
}

li:last-child{
    border-radius: 0 10px 10px 0;
}

li:nth-child(odd){
    background-color:red;
}

li:nth-child(even){
    background-color: blue; 
}