<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--1. 타입리프 문법 : Text 표현식 : 화면 변수 글자 표시 -->
<p>[[${list}]]</p>

<!--2. 타임리프 문법 : 반복문 -->
<th:block th:each="element : ${list}">
    <p>[[${element}]]</p>
</th:block>

<!--3. 타임리프 문법 : 조건문 -->
<!--${변수}: 변수 표현식-->
<!--@{URL주소}: 주소 표현식-->
<th:block th:each="element : ${list}">
<!-- th:if="조건식": 조건식이 true 이면 화면에 표시 -->
    <div th:if="${element == 'rjh5849'}">
        (if, 참이면 표시)rjh5849가 맞습니다.
    </div>
<!-- th:unless="조건식": 조건식이 false 이면 화면에 표시 -->
    <div th:unless="${element == 'rjh5849'}">
        (unless, 거짓이면 표시)rjh5849가 틀립니다.
    </div>
</th:block>


<script th:inline="javascript">
    let message = [[${list}]];
    console.log(message);
</script>

</body>
</html>










