<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- . : 현재경로 -->
    <!-- .. : 상위경로 -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Vue cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
</head>
<body>
    <h2>문자를 입력하면 그 문자를 포함한 항목만 표시하는 예제</h2>
    <div id="app">
        <input type="text" v-model="findWord">
        <!-- 1) v-for문 이용해서 목록 출력하기 -->
        <ul>
            <!-- 사용법 : v-for="배열원소 in 배열명" -->
            <!-- findItems : 함수 실행되면 -->
            <!-- 검색어 : 한라산 -> findItems : ["한라산"] -->
            <!-- 검색어 : 지리산 -> findItems : ["지리산"] -->
            <!-- 배열함수 : .filter() , .indexOf("지리산") -->
            <li v-for="item in findItems">{{ item }}</li>
        </ul>
    </div>

    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    findWord: "",
                    items: ["설악산", "한라산", "북한산", "백두산", "지리산"]
                }
            },
            computed: {
                findItems() {
                    // 참/거짓 : 참(0이 아닌수), 거짓(0, "")
                    if(this.findWord) {
                        // this.findItems 값이 있으면
                        // 그 검색어만 목록에 출력
                        return this.items.filter(function(value) {
                            // 문자열.indexOf(검색어)  > -1
                            // 1st "설악산".indexOf("설악산") -> 0 : 참
                            // 2nd "한라산".indexOf("설악산") -> -1 :거짓
                            return (value.indexOf(this.findWord) > -1);
                        }, this);
                    } else {
                        // this.findItems 값이 없으면
                        return this.items;
                    }
                }
            }
        })
    </script>
</body>
</html>