<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <!-- Vue CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
</head>
</head>
<body>
    <h2>오브젝트 배열 데이터를 표시하는 예제</h2>
    <div id="app">
        <!-- 순서없는 목록(ul, li) 배열 데이터 출력하세요 -->
        <!-- 힌트 : v-for문 쓰기 -->
        <ul>
            <!-- 사용법 : v-for="배열원소 in 배열명" -->
            <li v-for="item in objArray">
                {{ item.name }} \ {{ item.price }}
            </li>
            <!-- 1st item : {name:"찜빵", price:1000}  -->
            <!-- 2nd item : {name:"크림빵", price:1500}  -->
            <!-- 3rd item : {name:"크로와사", price:1700}  -->
        </ul>
    </div>

    <script>
        new Vue({
            el:"#app",
            data() {
                return {
                    objArray: [
                        {name:"찜빵", price:1000},
                        {name:"크림빵", price:1500},
                        {name:"크로와사", price:1700}
                    ]
                }
            },
        })
    </script>
</body>
</html>