<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" >
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <style>
        .my-comp {
            width: 300px;
            background-color: #ffffe0;
            border: solid;
            border-color: darkorange;
            border-radius: 8px;
            padding: 8px;
        }
    </style>
</head>
<body>
    <h2>각각 다른 카운팅을 하는 컴포넌트 예제 </h2>
    <div id="app">
        <!-- 컴포넌트 : 새로운 태그, 재사용 증가(복사해서 사용가능) -->
        <my-component></my-component>
        <my-component></my-component>
        <my-component></my-component>
    </div>

    <script>
        let myComp = {
            /* html */
            template:
            `
                <p class="my-comp">카운터
                    <button v-on:click="addOne()">추가</button> 
                    {{ count }}
                </p>
            `,
            data() {
                return {
                    count: 0
                }
            },
            methods: {
                addOne() {
                    // 카운팅 로직 추가
                    this.count++;
                }
            },
        }

        new Vue({
            el: "#app",
            components: {
                "my-component" : myComp
            }

        })
    </script>
</body>
</html>