<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    부트스트랩 cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <!--    springboot 보내준 데이터 출력 -->
    <!--    <h3>전달 받은 객체 : [[${list}]]</h3>-->

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ENO</th>
            <th scope="col">ENAME</th>
            <th scope="col">JOB</th>
            <th scope="col">MANAGER</th>
            <th scope="col">HIREDATE</th>
            <th scope="col">SALARY</th>
            <th scope="col">COMMISSION</th>
            <th scope="col">DNO</th>
            <th scope="col">INSERT_TIME</th>
            <th scope="col">UPDATE_TIME</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="emp : ${list}">
            <tr>
                <td><a th:href="@{'/exam06/emp/edition/'+${emp.eno}}">[[${emp.eno}]]</a></td>
                <td>[[${emp.ename}]]</td>
                <td>[[${emp.job}]]</td>
                <td>[[${emp.manager}]]</td>
                <td>[[${emp.hiredate}]]</td>
                <td>[[${emp.salary}]]</td>
                <td>[[${emp.commission}]]</td>
                <td>[[${emp.dno}]]</td>
                <td>[[${emp.insertTime}]]</td>
                <td>[[${emp.updateTime}]]</td>
            </tr>
        </th:block>
        </tbody>
    </table>
<!--    <!— INSERT 추가페이지 —>-->
    <div class="text-center">
<!--        <!— 타임리프 링크 문법: th:href="@{이동 페이지}"—>-->
        <a th:href="@{/exam06/emp/addition}" class="btn btn-primary center">INSERT</a>
    </div>

</div>

<script th:inline="javascript">
    let obj = [[${list}]];
    console.log(obj);
</script>
</body>
</html>







